$primary: #5265E1;
$secondary: #FA5959;
$success: #808080;

$nav-tabs-border-width: none;
$nav-tabs-link-hover-border-color: none;


@import "../node_modules/bootstrap/scss/bootstrap";

* {
    font-family: Helvetica;
    letter-spacing: 1px;
}

.fontsize50 {
    font-size: 50px;
}

.textGray {
    color: $success;
}

.bgPurple {
    background-color: $primary;
}

.bgRed {
    background-color: $secondary;
}

.nav-link.active {
    /* color: $secondary !important; */
    border-bottom-style: solid !important;
    border-width: thick !important;
    border-color: $secondary !important;
}

.loginButton {
    border-style: solid;
    border-width: thin;
    color: #ffffff;
    border-color: $secondary;
    background-color: $secondary;
}

.loginButton:hover {
    color: $secondary;
    background-color: #ffffff;
}


.purpleButton {
    border-style: solid;
    border-width: thin;
    color: #ffffff;
    border-color: $primary;
    background-color: $primary;
}

.purpleButton:hover {
    color: $primary;
    background-color: #ffffff;
}


.redHover2:hover {
    color: $secondary;
}

.redHover {
    /* border-bottom-style: solid;
    border-width: thin;
    border-color: #000000; */
    color: #000000;
}

.redHover:hover {
    /* border-bottom: thick solid $secondary; */
    color: $secondary;
}

.borderBottom {
    border-bottom: thin solid $success;
}

.navlinkfocus:focus {
    border-bottom: thick solid $secondary;
}

.footer {
    color: #ffffff;
}

.footer:hover {
    color: $secondary;
}

.nav-tabs {
    border-color: #ffffff;
}

.fireFox {
    border-style: solid;
    border-width: thin;
    color: #000000;
    border-color: #ffffff;
    background-color: #ffffff;
}

.fireFox:hover {
    border-color: $black;
}


.social:hover {
    fill: $secondary;
}

.rectangle {
    height: 400px;
    background: $primary;
    border-radius: 250px 0 0 250px;
    position: absolute;
    z-index: -1;
    margin-top: 5em;
    margin-left: 10rem;
}

.rectangle2 {
    height: 350px;
    background: $primary;
    border-radius: 0 250px 250px 0;
    position: absolute;
    left: 0px;
    z-index: -1;
    margin-top: 5em;
    margin-right: 10rem;

}

body {
    /* display: flex;
    flex-direction: column;
    align-items: space-between; */
    overflow-x: hidden;
}
/* 
// X-Small devices (portrait phones, less than 576px)


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .rectangle {
        height: 200px;
    }

    .rectangle2 {
        height: 200px;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .rectangle {
        height: 290px;
    }

    .rectangle2 {
        height: 290px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .rectangle {
        height: 325px;
    }

    .rectangle2 {
        height: 325px;
    }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {} */

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width

///////////////////////////////////////////////////////////////////////////

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

@media (max-width: 575.98px) {
    .rectangle {
        height: 250px;
    }

    .rectangle2 {
        height: 250px;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .rectangle {
        height: 275px;
    }

    .rectangle2 {
        height: 275px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .rectangle {
        height: 200px;
    }

    .rectangle2 {
        height: 200px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .rectangle {
        height: 290px;
    }

    .rectangle2 {
        height: 290px;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .rectangle {
        height: 325px;
    }

    .rectangle2 {
        height: 325px;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    
 }